<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="header">
    <div class="header-img">img</div>
    <div class="header-menu">
        <div class="menu-content menu-item">
            <ul class="nav nav-pills">
                <li class=""><a ui-sref="app.product" href="#/product">Home</a></li>
                <li><a href="#">SVN</a></li>
                <li><a href="#">iOS</a></li>
                <li><a href="#">VB.Net</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                        Java <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Swing</a></li>
                        <li><a href="#">jMeter</a></li>
                        <li><a href="#">EJB</a></li>
                        <li class="divider"></li>
                        <li><a href="#">分离的链接</a></li>
                    </ul>
                </li>
                <li><a href="#">PHP</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>