<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物导航</title>
</head>
<!--<link type="text/css" href="../css/view/shop_navigation.css">-->
<body>
<div class="shop-nav">
    <div class="nav-clause">
        <div class="nav-head"></div>
        <div class="left-nav">
            <ul>
                <li>条目1 <span><i class="icon-angle-right"></i></span></li>
                <li>条目2 <span><i class="icon-angle-right"></i></span></li>
                <li>条目3 <span><i class="icon-angle-right"></i></span></li>
                <li>条目4 <span><i class="icon-angle-right"></i></span></li>
                <li>条目5 <span><i class="icon-angle-right"></i></span></li>
                <li>条目6 <span><i class="icon-angle-right"></i></span></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>